name: CI

on:
  push:
    branches:
      - main
  pull_request:

permissions:
  actions: read
  contents: read

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: pnpm/action-setup@v2
        with:
          version: 8
      - uses: actions/setup-node@v3
        with:
          node-version: 20
          cache: 'pnpm'
      - uses: metadaoproject/setup-anchor@v2
        with:
          anchor-version: '0.30.1'
          solana-cli-version: '1.18.9'
          node-version: '20.10.0'
      - run: pnpm install --no-frozen-lockfile
      - name: Generate new keygen
        run: solana-keygen new --no-bip39-passphrase
      - name: Set solana target cluster to local
        run: solana config set --url http:localhost:8899
      - name: Check solana config
        run: solana config get
      - name: cargo list
        run: cargo --list
      - uses: nrwl/nx-set-shas@v4
      # TODO: Make sure the anchor build runs prettier after the build
      - run: pnpm anchor keys sync
      - run: pnpm exec nx affected -t lint test build --exclude sdk
